attrs==24.2.0
cattrs==24.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
edn-format==0.7.5
exceptiongroup==1.2.2
idna==3.8
platformdirs==4.3.2
ply==3.11
pyRFC3339==1.1
pytz==2024.1
PyYAML==6.0.2
requests==2.32.4
requests-cache==1.0.1
six==1.16.0
typing-extensions==4.12.2
url-normalize==1.4.3
urllib3==2.2.2
